.scrollbar-container {
    z-index: -1 !important;
}

.container-nav-link {
    margin-top: 40px !important;
    z-index: 999999999 !important; 
}

.nav-link-bookmark {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    /* color: #FFFF; */
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 10px;
}

.nav-link-bookmark:hover {
    /* color: #FFFF !important; */
    background-color: #FCE220 !important;
}

.nav-link-bookmark.active {
    background-color: #FCE220;
    font-weight: bold;
}
.nav-link-bookmark .ficon {
    margin-right: 0.5rem;
}

.bookmark-title {
    font-size: 0.875rem;
}
